body{
    background:conic-gradient(red,blue,rgb(6, 248, 6),brown);
}
.form{
    background-color:rgb(237, 226, 226) ;
    width:50%;
    height:50%;
    text-align: center;
    font-family: sans-serif;
    margin-left:25%;
    margin-right: 25%; 
    margin-top:10px; 
    margin-bottom: 10px;
    padding:10px;
    border-radius: 20px;
}
h1{
    color:blue;
    font-weight: 2000px;
}
.p-1{
    font-size: 15px;
}
button{
    color:white;
    width: 100px;
    height: 25px;
    background-color: rgb(218, 54, 54);
    margin:20px;
    border:solid;
    border-radius: 20px;
    border-color: black;
    border-width:1px ;
    cursor: pointer;
}
#div-2{
    visibility: hidden;
    width:25%;
    height: 25%;
    background-color:rgb(244, 94, 94);
    color:black;
    font-weight: 200px;
    font-size: 20px;
    text-align: center;
    padding:20px 50px 50px 50px;
    margin-left:25%;
    border-radius: 10px;
}
.correct{
    width: 50px;
    padding-bottom: 50px;
}
.like{
    width:50px;
    padding-bottom: 50px;
}
        /* Style for message box */
        .message-box {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 2px solid #333;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }